<%= form_for(@update, url: create_update_path) do |f| %>
  
  <div>
    <%= f.label 'Add update'%>
    <%= f.text_area :content %>
  </div>
  <%= f.submit "Save my update", class: "btn btn-large btn-primary" %>
<% end %>