<%= form_for(@update, url: create_update_path) do |f| %>
  
  <div class="update-area">
    <%= f.label 'Add your update'%>
    <%= f.text_area :content %>
  </div>
  <%= f.submit "Save my update", class: "btn  btn-primary" %>
<% end %>