<div class="col-lg-2">
        <%= image_tag current_user.avatar.url(:thumb), class: 'img-rounded' %>
        <div class="name"><%= current_user.name %></div>
    </div>

<div><h3>You do not have any mentor assigned.</h3></div>



