.content{
  padding-top:10px;
  color:#444;
  font-family:"Helvetica Neue",Helvetica,sans-serif;
  font-size:14px;
}

.post{
  background-color:white;
  padding:20px;
  
}

.comment_form{
	width:200px;
}

.comment-area{
  width:300px;
  background-color:#ecf0f1;
	font-size:14px;
  padding:5px;
  border-left:2px solid #bbdff8;
}

.comment-area .user {
color: #59AFEB;
}

.update{
  color:#3498db;
  font-size:18px;
  font-family:"Helevetica Neue",Helvetica,sans-serif;
  
}

.update_form {
  width:300px;
}
.mentee .update_form{
  position: fixed;
background-color: white;
top: 50px;
padding-top: 20px;
width:100%;
z-index:2;
}
.mentee .mentee-updates{
  position: relative;
  top: 150px;
}
.mentee-updates .btn-sm{
  width: 30%;
margin-left: 143px;

}
.hr {
width:300px;
  margin: 0px;
  height: 1px;
}
.mentee .col-lg-10,.mentor .col-lg-10{
  position:relative;
  min-height:600px;
  left: 238px;
}

.mentee .col-lg-2, .mentor .col-lg-2{
  min-height:600px;
  border-right:1px solid #ccc;
  position:fixed;
}
.mentee .col-lg-2 img,.mentor .col-lg-2 img {
width: 180px;
height: 180px;
margin-left: 0px;
}
.mentee-updates h1{
  font-size:30px;
  text-align:left;
}

.time{
  color:#999;
}
.update-area{
  width: 50%;
height: 118px;

}
#new_update .btn {
width: 10%;
position: relative;
left: 541px;
}
#update_content{
  height: 84px;
}
.mentee{
  padding-top:15px;
}

.delete_icon {
  float:right;
  padding-right: 10px;
}

.name {
  display: block;
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 10px;
}

.mentee-updates {
  background-color: C2DEEA;
}
.mentee-updates .username{
  float:left;
  width: 90%;
}
