.content{
  padding-top:10px;
  color:#444;
  font-family:"Helvetica Neue",Helvetica,sans-serif;
  font-size:14px;
}

.post{
  background-color:#ecf0f1;
  padding:20px;
  border-left:2px solid #bbdff8;
}

.comment_form{
	width:200px;
}

.comment{
	font-size:18px;
}

.update{
  color:#3498db;
  font-size:18px;
  font-family:"Helevetica Neue",Helvetica,sans-serif;
  
}