<footer class="footer">
  <small>
    Copyright © 2014 Tata Consultancy Services
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
